body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 2em;
    background: #4e4e50;
    color: white;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "lato";
    border: solid 1px white;
    padding: 15px 20px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    transition: 1s all ease;
}

.btn::before{
    background: #45a29e;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    z-index: -1;
    transition: all 0.6s ease;
    width: 120%;
    height: 0%;
}

.btn:hover::before{
    height: 200%;
}